<section class="main-slider contact">
    <div class="welcome_section">
        <h1 class="welcome_title">
          Offre d'une assistance en ligne aux usagers-clients
        </h1>
       
    </div>
  </section>
  <div class="body_content">
    <div class="container">
      <div class="row clearfix">
        <div class="content-side col-lg-12 col-md-12 col-sm-12">
            
            <div class="row p-lg-5 p-md-3 p-3" style="">
              <div class="col-lg-12 list_step">
              <h2 class="text-center">Avez-vous besoin d'assistance pour l'exploitation de la plateforme, ouvrez un ticket afin de poser votre préoccupation qui sera prise en charge dans des délais appréciables. </h2>
                <p class="text-center h4 fw-bold">Votre satisfaction est notre priorité.</p>

               <div class="row">

                <div class="col-12 contact-form">
                    <!-- Contact Form -->
                <div class="contact-form text-center">

                  


                    <a type="button" href="/billings"  class="btn btn-outline-primary">Ouvrir mon ticket</a>
                </div>
                <!-- eND Contact Form -->
                </div>
               </div>
                
              </div>
              
            </div>
            
        </div>
      </div>
    </div>
  </div>
  