    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
        <div class="breadcrumb-title pe-3">CAPE </div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Liste des pièces à fournir</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
              
                <div class="card-body">
                    <div class="d-flex mb-5 " *ngIf="buttonsPermission">
                      <button type="button" class="btn btn-primary btn-sm me-3" (click)="add(addContent)">Ajouter une pièce à fournir</button>

                        <button *ngIf="buttonsPermission.show"  (click)="show(showContent)" type="button" class="btn btn-outline-primary btn-sm  me-3">
                             <span>Consulter</span></button>
                        <button *ngIf="buttonsPermission.edit" (click)="edit(editContent)" type="button"  class="btn btn-outline-warning btn-sm  me-3">
                           Editer</button>
                        <button *ngIf="buttonsPermission.delete" (click)="delete()" type="button" class="btn btn-outline-danger btn-sm  me-3">
                             Supprimer</button>
                             <button *ngIf="is_active!=null && !is_active" (click)="setStatus(1)" type="button" class="btn btn-outline-success btn-sm  me-3">
                                Activer</button>
                               <button  *ngIf="is_active!=null &&  is_active" (click)="setStatus(0)" type="button" class="btn btn-outline-danger btn-sm  me-3">
                                Désactiver</button>
                    </div>
    
                            <p>{{data.length}} élément(s)</p>
                            <div class="table-responsive">
                            <table class="table" >
                                <thead class="">
                                    <tr>
                                        <th style="width: 10px;">#</th>
                                        <th>Service</th>
                                        <th>Type document</th>
                                        <th>Libellé</th>
                                        <th>Description</th>
                                        <th>Note maximum</th>
                                        <th>Document obligatoire</th>
                                        <th>Statut</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of data ">
                                        <td>
                                            <div class="form-check mb-2">
                                                <input (click)="checked(d)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            
                                            </div>
                                        </td>
                                        <td>{{d.type?.name}}</td>
                                        <td>{{d.type_file?.name}}</td>
                                        <td>{{d.name}}</td>
                                        <td>{{d.description ??"Pas de description"}}</td>
                                        <td>{{d.max_note}}</td>

                                        <td>
                                            <span *ngIf="d.is_required" class="bg-success p-1 text-white rounded"> Oui</span>
                                            <span *ngIf="!d.is_required" class="bg-secondary p-1 rounded"> Non</span>
                                        </td>
                                        <td>
                                          <span *ngIf="d.is_active" class="p-1 bg-success text-white rounded">Actif</span>
                                          <span *ngIf="!d.is_active" class="p-1 bg-danger text-white rounded">Bloqué</span>
  
                                          </td>
                                   
                                    </tr>
                                
                                </tbody>
                            </table>
                            </div>
    
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    
    <ng-template #addContent let-c="close" let-d="dismiss">
        <form #addForm="ngForm" (ngSubmit)="store(addForm.value)">
        <div class="modal-header bg-secondary">
          <h6 class="modal-title text-white" id="modal-basic-title">Enregistrer un document</h6>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body" >
            <div class="row mb-3" >
          
              <div class=" form-goup col-12 mb-3">
                <label for="">Type de service <span class="text-danger ml-2">(*)</span></label>
                <select name="service_id" class="form-control" ngModel required>
                  <option *ngFor="let tf of types" [value]="tf.id">{{tf.name}}</option>
                </select>
            </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Type de document <span class="text-danger ml-2">(*)</span></label>
                    <select name="type_document_id" class="form-control" ngModel required>
                      <option *ngFor="let tf of tfs" [value]="tf.id">{{tf.name}}</option>
                    </select>
                </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                    <input type="text" name="name" class="form-control" ngModel required>
                </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Description <span class="text-danger ml-2">(*)</span></label>
                    <input type="text" name="description" class="form-control" ngModel >
                </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Note maximun <span class="text-danger ml-2">(*)</span></label>
                    <input type="number" name="max_note" min="1" class="form-control" ngModel >
                </div>
                <div class="d-flex justify-content-between">
                  <span>Document obligatoire ?</span>
                  <!-- <ng-toggle
                ngModel
                name="is_required"
                [color]="{
                  unchecked: '#939da2',
                  checked: '#f62d51'
                }"
              ></ng-toggle> -->
                </div>
            </div>
           
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid"  >Enregistrer <app-loading [isVisible]="loading"></app-loading></button>
        </div>
    </form>
      </ng-template>
    
      <ng-template #editContent let-c="close" let-d="dismiss">
        <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">
        <div class="modal-header">
          <h6 class="modal-title text-white" id="modal-basic-title">Modifier un département</h6>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body" >
            <div class="row mb-3">
              <div class=" form-goup col-12 mb-3">
                <label for="">Type de service <span class="text-danger ml-2">(*)</span></label>
                <select name="service_id" class="form-control" [(ngModel)]="selected_data.service_id" required>
                  <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                </select>
            </div>
              <div class=" form-goup col-12 mb-3">
                <label for="">Type de document <span class="text-danger ml-2">(*)</span></label>
                <select name="type_document_id" class="form-control" [(ngModel)]="selected_data.type_document_id" required>
                  <option *ngFor="let tf of tfs" [value]="tf.id">{{tf.name}}</option>
                </select>
            </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="selected_data.name" required>
                </div> 
                <div class=" form-goup col-12 mb-3">
                    <label for="">Description </label>
                    <input type="text" name="description" class="form-control" [(ngModel)]="selected_data.description" >
                </div>
                <div class=" form-goup col-12 mb-3">
                    <label for="">Note maximum </label>
                    <input type="number" name="max_note" class="form-control" [(ngModel)]="selected_data.max_note" >
                </div>
                <div class="d-flex justify-content-between">
                  <span>Document obligatoire ?</span>
                  <!-- <ng-toggle
                  name="is_required"
                [(ngModel)]="selected_data.is_required"
                 [color]="{
                  unchecked: '#939da2',
                  checked: '#f62d51'
                }"
              ></ng-toggle> -->
                </div>
              
            </div>
           
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" [disabled]="editForm.invalid" >Sauvegarder <app-loading [isVisible]="loading"></app-loading></button>
        </div>
    </form>
      </ng-template>
    
      <ng-template #showContent let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-white" id="modal-basic-title">Détails des informations</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
          </div>
    
          <div class="modal-body">
            <div class="table-responsive table-card">
                <table class="table table-borderless align-middle mb-0">
                    <tbody>
                      
                   
                        <tr >
                            <td class="fw-medium">Libellé</td>
                            <td >{{selected_data.name}} </td>
                          
                        </tr>
                        <tr >
                            <td class="fw-medium">Note maximum attendu</td>
                            <td >{{selected_data.max_note}} </td>
                          
                        </tr>
                   
                   
                
                   
                    </tbody>
                </table>
            </div>
          </div>
    </ng-template>