    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
        <div class="breadcrumb-title pe-3">CAPE </div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Liste des demandes d'autorisation</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="tw-grid tw-grid-cols-12 tw-gap-4">
         <div class="tw-col-span-12">
           <div class="tw-bg-white tw-rounded-lg tw-shadow">
              
                <div class="mb-3">
                    <button *ngIf="state!=undefined" (click)="goToShow()" class="btn btn-sm btn-primary mx-1">Consulter</button>
                    <button  *ngIf="role == 'dfea' "   (click)="delete()" class="btn btn-sm btn-danger mx-1">Retirer l'enregistrement</button>
                    <button *ngIf="state==undefined" (click)="add(parcoursContent)" class="btn btn-sm btn-primary mx-1">Voir Parcours</button>
                </div>
                  <div class="tw-p-6">
    
                            <p>{{data.length}} élément(s) </p>
                         <ng-container *ngIf="type=='cape'">
                            <div class="tw-overflow-x-auto">
                                <table class="tw-min-w-full tw-border tw-border-gray-200 tw-text-sm">
                                    <thead class="tw-bg-gray-100">
                                        <tr>
                                            <th style="width: 10px;"> # </th>
                                            <th style="width: 10px;"><i class="fa fa-check"></i></th>
                                            <th class="tw-px-3 tw-py-2">Date d'inscription</th>
                                            <th *ngIf="role != 'cps'">Cps</th>
                                            <th class="tw-px-3 tw-py-2">Type Centre</th>
                                            <th class="tw-px-3 tw-py-2">Libellé Centre</th>
                                            <th *ngIf="state != undefined">Statut</th>
                                            <th *ngIf="state == undefined">Dernière étape</th>
                                            <th class="tw-px-3 tw-py-2">Nom promoteur</th>
                                            <th class="tw-px-3 tw-py-2">Cible</th>
                                            <th class="tw-px-3 tw-py-2">Adresse</th>
                                            <th class="tw-px-3 tw-py-2">email</th>
                                            <th class="tw-px-3 tw-py-2">phone</th>
                                
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of data" class="tw-border-t">
                                             <td class="tw-px-3 tw-py-2"></td>
                                             <td class="tw-px-3 tw-py-2">
                                                <div class="tw-form-check tw-mb-2">
                                                    <input
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault{{d.id}}"
                      class="tw-form-radio tw-text-blue-600"
                      (click)="checked(d)"
                    />
                                                
                                                </div>
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.created_at | date:"shortDate"}}</td>
                                            <td *ngIf="role != 'cps'">{{d.district?.cps?.name}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.type_cape?.name ?? d.type_garderie?.name }}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.name}}</td>
                                            <td  *ngIf="state !=undefined">
                                                <span class="p-1 rounded bg-{{getColor(d.status)}} text-white">{{getText(d.status)}} </span>
                                            </td>
                                            <td *ngIf="state ==undefined">
                                                {{d.last_parcours?.libelle}}
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.name_pomoter}} {{d.firstname_pomoter}}</td>
                                             <td class="tw-px-3 tw-py-2">
                                                <ul>
                                                    <li *ngFor="let el of getJson(d.target)">{{el}}</li>
                                                </ul>
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.address}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.email}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.phone}}</td>
                                        
                                            
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                </div>
                         </ng-container>
                         <ng-container *ngIf="type=='garderie'">
                            <div class="tw-overflow-x-auto">
                                <table class="tw-min-w-full tw-border tw-border-gray-200 tw-text-sm">
                                    <thead class="tw-bg-gray-100">
                                        <tr>
                                            <th style="width: 10px;"> # </th>
                                            <th style="width: 10px;"><i class="fa fa-check"></i></th>
                                            <th class="tw-px-3 tw-py-2">Date d'inscription</th>
                                            <th *ngIf="role != 'cps'">Cps</th>
                                            <th class="tw-px-3 tw-py-2">Type Garderie</th>
                                            <th class="tw-px-3 tw-py-2">Libellé Centre</th>
                                            <th *ngIf="state != undefined">Statut</th>
                                            <th *ngIf="state == undefined">Dernière étape</th>
                                            <th class="tw-px-3 tw-py-2">Nom promoteur</th>
                                            <th class="tw-px-3 tw-py-2">Adresse</th>
                                            <th class="tw-px-3 tw-py-2">email</th>
                                            <th class="tw-px-3 tw-py-2">phone</th>
                                
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of data" class="tw-border-t">
                                             <td class="tw-px-3 tw-py-2"></td>
                                             <td class="tw-px-3 tw-py-2">
                                                <div class="tw-form-check tw-mb-2">
                                                    <input
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault{{d.id}}"
                      class="tw-form-radio tw-text-blue-600"
                      (click)="checked(d)"
                    />
                                                
                                                </div>
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.created_at | date:"shortDate"}}</td>
                                            <td *ngIf="role != 'cps'">{{d.district?.cps?.name}}</td>
                                             <td class="tw-px-3 tw-py-2">
                                                <ul>
                                                    <li *ngFor="let el of d.requete_type_garderies">{{el.type_garderie?.name}}</li>
                                                </ul>
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.name}}</td>
                                            <td  *ngIf="state !=undefined">
                                                <span class="p-1 rounded bg-{{getColor(d.status)}} text-white">{{getText(d.status)}} </span>
                                            </td>
                                            <td *ngIf="state ==undefined">
                                                {{d.last_parcours?.libelle}}
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.name_pomoter}} {{d.firstname_pomoter}}</td>
                                            
                                             <td class="tw-px-3 tw-py-2">{{d.address}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.email}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.phone}}</td>
                                        
                                            
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                </div>
                         </ng-container>
    
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end col -->
    </div>
    

    <ng-template #parcoursContent let-c="close" let-d="dismiss">
    
        <div class="modal-header bg-secondary">
          <h6 class="text-white">Parcours demande</h6>
           <button type="button" class="tw-btn tw-btn-dark tw-text-white tw-px-2 tw-py-1 tw-rounded" (click)="d('Cross click')">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
           <table class="table">
            <thead> 
                <th class="tw-px-3 tw-py-2">#</th>
                <th class="tw-px-3 tw-py-2">Libellé</th>
                <th class="tw-px-3 tw-py-2">Date et heure</th>
                <th class="tw-px-3 tw-py-2">Séjour (jrs)</th>
                <th class="tw-px-3 tw-py-2">Auteur</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of parcours; let i=index">
                     <td class="tw-px-3 tw-py-2">{{i+1}}</td>
                     <td class="tw-px-3 tw-py-2">{{p.libelle}}</td>
                     <td class="tw-px-3 tw-py-2">{{p.created_at | date:"dd-MM-yyyy hh:mm:ss"}}</td>
                     <td class="tw-px-3 tw-py-2">{{p.delay}}</td>
                     <td class="tw-px-3 tw-py-2">{{p.user == null ?"CAPE": p.user?.firstname??"Prénom(s)" +" "+ p.user?.lastname?? "Nom"}}</td>
                </tr>
            </tbody>
           </table>
        </div>

      </ng-template>
      



    <ng-template #parcoursContent let-c="close" let-d="dismiss">
    
        <div class="modal-header bg-secondary">
          <h6 class="text-white">Cibles</h6>
           <button type="button" class="tw-btn tw-btn-dark tw-text-white tw-px-2 tw-py-1 tw-rounded" (click)="d('Cross click')">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
        
        </div>

      </ng-template>