
<div class="tw-flex tw-h-screen tw-bg-gray-50">
  <!-- Sidebar -->
 <app-menu></app-menu>

  <!-- Contenu principal -->
  <div class="tw-flex-1 tw-flex tw-flex-col tw-overflow-hidden">
    <!-- TopBar -->
    <app-header></app-header>

    <!-- Zone de contenu -->
    <main class="tw-flex-1 tw-overflow-y-auto tw-p-10">
      <div class="tw-space-y-6">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>


<ngx-spinner
      bdColor="rgba(12,87,78,0.2)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
      >
      <p style="font-size: 20px; color: #0A3764; font-weight: 900;">Chargement des données...</p>
    </ngx-spinner>