
<div class="" >
    <div class="logo text-start mb-5">
        <div class="logo"><a href="#"><img src="assets/template2/images/masm.png" style="min-height: 80px;" alt="" title=""></a></div>
    </div>
    <div class=" auto-container px-5">
<div class="mb-5"><b>Récupération de mot de passe</b> </div>

<span class="mb-3">Renseignez un nouveau mot de passe.</span>
<div >
    <form class="" #fpForm="ngForm" (ngSubmit)="recoverPassword(fpForm.value)">
        <div class="form-row">
<div class="col-md-12 mb-3">
    <div class="position-relative form-group">
        <label for="exampleEmail1" class="">Nouveau mot de passe</label>
        <input name="password" id="exampleEmail1" placeholder="Mot de passe ici..." type="password" class="form-control" ngModel required>
        </div>
<div class="position-relative form-group">
<label for="exampleEmail2" class="">Confirmer mot de passe</label>
<input name="confirm_password" id="exampleEmail2" placeholder="Mot de passe ici..." type="password" class="form-control" ngModel required>
</div>
</div>
</div>
<div class="mt-4 d-flex align-items-center mb-3">
<div class="ml-auto">
<button class="btn cape-bg-blue btn-sm text-white" [disabled]="fpForm.invalid || loading" type="submit">Chnager mon mot de passe <app-loading [isVisible]="loading"></app-loading></button>
</div>
</div>

<div class="d-flex justify-content-end">
    <a routerLink="/admin/auth/login" class="text-primary">Je dispose déjà d'un compte</a>

</div>
</form>
</div>
</div>
