<div class="min-h-screen bg-gray-50 flex">
  <!-- Colonne gauche = col-6 -->
  <div class="hidden lg:flex lg:w-1/2 h-screen relative">
    <img 
      src="assets/template/images/login2.jpg"
      alt="background"
      class="w-full h-full object-contain"
    />
    <div class="absolute inset-0 bg-blue-900/20 flex items-center justify-center">
      <img 
        src="assets/template2/images/masm.png"
        alt="logo-masm"
        class="h-20"
      />
    </div>
  </div>

  <!-- Colonne droite = col-6 -->
  <div class="w-full lg:w-1/2 flex items-center justify-center p-8">
    <router-outlet></router-outlet>
  </div>
</div>
