
<div class="" >
    <div class="logo text-start mb-5">
        <div class="logo"><a href="#"><img src="assets/template2/images/masm.png" style="min-height: 80px;" alt="" title=""></a></div>
    </div>
    <div class=" auto-container px-5">

<div class="mb-3">Mot de passe oublié?</div>

<span>Renseignez votre email pour définir un nouveau mot de passe .</span>

<div *ngIf="!mailSent">
    <form class="" #fpForm="ngForm" (ngSubmit)="sendMail(fpForm.value)">
        <div class="form-row">
<div class="col-md-12">
<div class="position-relative form-group">
<label for="exampleEmail" class="">Email</label>
<input name="email" id="exampleEmail" placeholder="Email ici..." type="email" class="form-control" ngModel required>
</div>
</div>
</div>
<div class="mt-4 d-flex align-items-center">

<div class="ml-auto mb-3">
<button class="btn cape-bg-blue  text-white btn-sm btn-lg" [disabled]="fpForm.invalid || loading" type="submit">Récupérer <app-loading [isVisible]="loading"></app-loading></button>
</div>
</div>
<div class="d-flex justify-content-end">
    <div >
        <a routerLink="/admin/auth/login" class="text-primary">Je dispose déjà d'un compte</a>
    </div>
</div>

</form>
</div>

<div  *ngIf="mailSent">
    <div class="text-center">
        <img src="assets/template2/images/success.png" alt="">
    </div>
    <p class="text-primary">Un mail de récupération de votre mot de passe vous a été transféré ! Veuillez consulter votre boîte mail. <br> Merci</p>
</div>


</div>
</div>