    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
        <div class="breadcrumb-title pe-3">CAPE </div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Liste des CAPE inscrits</li>
            </ol>
          </nav>
        </div>
      </div>
        <div class="tw-grid tw-grid-cols-12 tw-gap-4">
           <div class="tw-col-span-12">
             <div class="tw-bg-white tw-rounded-lg tw-shadow">
                
                    <div class="tw-p-6">
                              <p>{{data.length}} élément(s)</p>
                              <div class="tw-overflow-x-auto">
                                <table class="tw-min-w-full tw-border tw-border-gray-200 tw-text-sm">
                                    <thead class="tw-bg-gray-100">
                                        <tr>
                                            <th class="tw-w-[40px] tw-px-3 tw-py-2">#</th>
                                            <th class="tw-px-3 tw-py-2">Type Cape</th>
                                            <th class="tw-px-3 tw-py-2">Libellé Centre</th>
                                            <th class="tw-px-3 tw-py-2">Nom promoteur</th>
                                            <th class="tw-px-3 tw-py-2">Cible</th>
                                            <th class="tw-px-3 tw-py-2">Adresse</th>
                                            <th class="tw-px-3 tw-py-2">email</th>
                                            <th class="tw-px-3 tw-py-2">phone</th>
                                
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of data;let i=index ">
                                             <td class="tw-px-3 tw-py-2">
                                                {{i+1}}
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.type_cape?.name}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.name}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.name_pomoter}} {{d.firstname_pomoter}}</td>
                                             <td class="tw-px-3 tw-py-2">
                                                <ul>
                                                    <li *ngFor="let el of getJson(d.target)">{{el.itemName}}</li>
                                                </ul>
                                            </td>
                                             <td class="tw-px-3 tw-py-2">{{d.address}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.email}}</td>
                                             <td class="tw-px-3 tw-py-2">{{d.phone}}</td>
                                         
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                </div>
      
                  </div><!-- end card -->
              </div>
              <!-- end col -->
          </div>
          <!-- end col -->
      </div>
